body {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .Paper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #141416 !important;

  }
  .Paper-elevation4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  
  .AppBar-root {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
  }
  
  .bar{
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .bar-gutters {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (min-width: 600px) {
    .bar-gutters {
      padding-left: 24px;
      padding-right: 24px;
    }
  }


  .logo {
    margin-right: 20px;
    height: 80px;
    width: 200px;
  }

  .top-container {
    position: relative;
    padding-top: 100px;
  }

  h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #1B1A21;
  }
  p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center; 
    width: 23%;
    margin: auto;
  }
  
  .middle-container {
    width: 23%;
    margin: auto;
    padding-top: 50px;
  }
  .rounded {
    width: 150px;
    height: 150px;
    background: #F9EDFF;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: 0.2s;
  }
  

  .color{
    font-size: 80px;
    color: transparent;
    background: linear-gradient(#AA00FF 0%, #00A3D7 100%);
    -webkit-background-clip: text;
  }

  .label{
    float: left;
    padding-left: 25px;
  }

  .email{
    display: flex;
    justify-content: center;
  }
  .text-title{
    width:318px;
    background: #F3F3F5;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;

  }

  span{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  }

  .container{
    padding-top: 20px;
  }
  button{
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  background: #8800CC;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  }


.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

  .input-box{
    margin-bottom: 15px;
    float: left;
    padding-left: 25px;
    width:fit-content;

  }
   .input-box input{
    height: 20px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    width:400px;
    background: #F3F3F5;
    border-radius: 4px;
    padding: 5px;
    border: none;
  }
   .input-box input:focus{
    border-color: #9b59b6;
  }
  
  .custom-select {
    position: relative;
    display: inline-block;
    color: #888;
    padding-left: 20px;
  }
  
  .custom-select select {
    display: block;
    width:410px;
    min-height: 35px;
    background: #F3F3F5;;
    border-radius: 3px;
    border: 2px solid ;
    border: none;
    outline: none;
    padding: 0 20px 0 10px;
    margin-top: 5px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
  }
  
  .custom-select::after {
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #222;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .custom-select .selector-options {
    list-style: none;
    padding: 5px 0;
    font-size: 15px;
    margin: 0;
    background:#fff;
    border-radius: 4px;
    color: black;
    z-index: 1;
    width: 96%;
    position: absolute;
  }
  
  .custom-select .selector-options li {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .custom-select .selector-options li:hover {
    background: #F3F3F5;
  }
